* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aside-container {
  background: #332a7b;
}

.active-nav {
  position: relative;
  background: white;
  color: #332a7b;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

/* .active-nav:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: -25px;
  right: 0;
  background: #332a7b;
} */

.rounded-2xl {
  border-radius: 30px
}

.rounded-xl {
  border-radius: 20px
}

.rounded-semi-xl {
  border-radius: 14px
}

.w-thin {
  width: 1px;
}

.indigo-bg {
  background: #332a7b;
}

.yellow-bg {
  background: #FFA101;
}

.yellow-text-support {
  color: #fff1c5
}

.red-bg {
  background: #ff6c7d;
}

.red-light-bg {
  background: #ff7f8e;
}

.soft-shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .06)
}

.day {
  border-radius: 14px;
}

.active-day {
  background: #ff6c7d;
  border: 1px solid #ff6173
}

.active-day h3 {
  color: white;

}

.active-day .day-number {
  color: #ffe4e7;
}

.active-day .day-indicator {
  background: white;
}

.side-function {
  border-top-left-radius: 20px;
  background: #faf9ff;
}


/* toggle button styles */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 14px;
  border: 1px solid;
}

.level {
  left: 50%;
  transform: translateX(-50%);
}


/* Hide default HTML checkbox */
.red input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.red {
  margin-top: -20px;
}

.red label {
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 10px;
  background: #ffe4e7;
  display: block;
  border-radius: 100px;
  position: relative;
}

.red label:after {
  content: '';
  position: absolute;
  top: -5px;
  left: 15px;
  width: 20px;
  height: 20px;
  background: #ff6b7c;
  border-radius: 90px;
  transition: 0.3s;
}

.red input:checked+label {
  background: #eee9e9;
}

.red input:checked+label:after {
  left: calc(100% - 15px);
  transform: translateX(-100%);
  background: #aca7a7;
}

/* label:active:after {
  width: 130px;
} */