* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.aside-container {
  background: #332a7b;
}
.active-nav {
  position: relative;
  background:white;
  color: #332a7b;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

/* .active-nav:before {
  position: absolute;
  content: '';
  height: 30px;
  width: 30px;
  border-radius: 50%;
  top: -25px;
  right: 0;
  background: #332a7b;
} */

.rounded-2xl {
  border-radius: 30px
}
.rounded-xl {
  border-radius: 20px
}
.rounded-semi-xl {
  border-radius: 14px
}

.w-thin {
  width: 1px;
}

.indigo-bg {
  background: #332a7b;
}

.yellow-bg {
  background: #ffbf00;
}
.yellow-text-support {
  color: #fff1c5
}

.red-bg {
 background: #ff6c7d;
}
.red-light-bg {
 background: #ff7f8e;
}

.day {
  border-radius: 14px;
}

.active-day {
  background: #ff6c7d;
  border: 1px solid #ff6173
}

.active-day h3 {
  color: white;
  ;
}
.active-day .day-number {
  color: #ffe4e7;
}
.active-day .day-indicator {
  background: white;
}

.side-function {
  border-top-left-radius: 20px;
  background: #faf9ff;
}


/* toggle button styles */
 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 14px;
  border: 1px ;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 233, 233);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height:20px;
  width: 20px;
  left: 0px;
  bottom:-3px;
  background-color: #FF6C7D;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(255, 233, 233);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(255, 133, 133);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 